@model AutoVille.Models.Login

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/menu/css/simple_menu.css">
    <link rel="stylesheet" href="~/Content/css/nivo-slider.css" type="text/css" media="screen">
</head>

<body>
    <div id="container">
        <h1>Sign Up</h1>

        <div class="one-half last">
            <div class="heading_bg">
                <h2>Enter Your Credentials To Sign Up</h2>
            </div>

            <form method="post" action="~/AutoVille/SignU">
                
                Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="name" placeholder="John Doe" size="30">
                <br><br>
                Address:&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="address" placeholder="321 Elm Street Bayland, CA" size="30">
                <br><br>
                Contact#:&nbsp;&nbsp;
                <input type="text" name="contact" placeholder="xxxxxxxxxxx" size="30">
                <br><br>
                Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" name="email" placeholder="abc@xyz.com" size="30">
                <br><br>
                Password:&nbsp;
                <input type="password" name="passwd" size="30" >
                <br><br>

                &nbsp;&nbsp;&nbsp;
                <input type="submit" value="Sign Up">

                <br /><br />

                <label>Already a Member? <a href="~/AutoVille/log"> Click here to Log In</a></label>

            </form> 

        </div>
        <div style="clear:both; height: 40px"></div>
    </div>
</body>